*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    /* border: 1px solid black; */
      
}
.imgContainer{
    position: relative;
    
}
img{
    width: 300px;
    width: 400px;
    border-radius: 10px;
}
.text{
    position: absolute;
    top: 40%;
    -webkit-text-stroke: 1px white;
    background-color: rgba(124, 117, 117, 0.397);
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    left: 10%;
    font-size: 20px;
    color: transparent;
}
/* form */
.formDetails{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.formDetails > p{
    width: 350px;
    margin-left: 10px;
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
    
}
.formDetails h2{
    color: darkgray;
    font-style: italic;
    margin-left: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    width:560px;
    gap: 20px;
    position: relative;
    left: -10px;
    padding: 20px;
    box-shadow: 2px 3px 5px black;
    
}
.from_details{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr ;
   gap: 20px;
   margin-top: 20px;
}
input{
    border-radius: 5px;
    border:1px solid rgb(109, 109, 109);
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 300%;
    width: 100%;
}
label{
    font-size: 12px;
}
label, input{
    display: block;
    margin: 5px 0;
}

/* Red border when invalid and not empty */
input:invalid:not(:placeholder-shown) {
  border: 2px solid red;
}

/* Blue border when valid and not empty */
input:valid:not(:placeholder-shown) {
  border: 2px solid rgb(157, 157, 240);
}

.account{
    padding: 10px 15px;
    border-radius: 5px;
    background: greenyellow;
    font-weight: bold;
    box-shadow: 2px 3px 5px black;
    margin-top: 20px;
    margin-left: 10px;
    border: none;

}

.tm{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    color: gray;
}
.tm span{
    color:rgb(57, 112, 1);
}
