table,td, tr, th{
    border: 1px solid black;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
button{
    padding: 10px 15px;
    background: rgb(66, 66, 252);
    color: white;
    border: none;
    border-radius: 5px;
}